<tr class="stats-displayer-main-label-row">
  <td></td>
  <td>Cost</td>
  <td></td>
</tr>
<tr>
  <td class="stats-displayer-label">Gas:</td>
  <td class="stats-displayer-value">${{gasTotal}}</td>
  <td></td>
</tr>
