.leg-holder {
  text-align: center;
}

.leg-holder > ol {
  height: 100%;
}

.leg-button {
  width: 90%;
  height: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.leg-button:hover {
  width: 100%;

  background: #9C9CBC;
}
