/*****FOOTER*****/
.row-footer {
  width: 90%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.row-footer:hover {
  border-color: #F4F4F4;
}

.row-footer > .ember-view {
  height: 95%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.25%;
}
/****************/

/**OBJECT SLIDER*/
.slider-object {
  float: left;
  height: 95%;
  width: 19%;
  margin-left: .5%;
  margin-right: .5%;
}

.slider-object:hover {
  height: 100%;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  border-color: #5300A6;
  border-style: solid;
  border-width: 2px;
  background: #9C9CBC;
  color: black;
}

.slider-selected {
  height: 100%;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  border-color: #5300A6;
  border-style: solid;
  border-width: 2px;
  background: #5300A6;
  color: #F4F4F4;
}

.slider-button {
  position: absolute;
  width: 2.5%;
  height: 0;
  padding-bottom: 2.5%;
  border-color: #5300A6;
  border-style: solid;
  border-width: 2px;
  bottom: 35%;
}

#slider-button-left {
  left: 1.25%;
}

#slider-button-right {
 right: 1.25%;
}

/****************/
