/*************************************LANDING PAGE *********************************************************/
/* Setting up the core framework of the page to be responsive*/
html, body, .ember-view, .container{
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
}

.container {
  padding: 0px;
}

.map-canvas {
  height: 100%;
}

/*****HEADER*****/
.row-header {
  height: 10%;
  width: 100%;
  margin: 0px;
}

/****************/

/*****CONTENT****/
.row-content {
  height: 60%;
  width: 100%;
  margin: 0px;
}

.row-content > .col-xs-8, .row-content > .col-xs-2 {
  height: 100%;
  border-color: #F4F4F4;
  border-style: solid;
  border-width: 2px;
  padding: 0px;
}

.row-content > .col-xs-8 {
  width: 64.66666667%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.row-content > .col-xs-8:hover {
  border-color: #5300A6;
}

.row-content > .col-xs-2 {
  width: 15.666666667%
}

.row-content > #left-landing-column {
  margin-left: 1%;
  margin-right: 0%;
  margin-bottom: 2%;
}

.row-content > #right-landing-column {
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.row-content > #right-landing-column:hover {
  border-color: #5300A6;
}

.leg-holder {
  text-align: center;
}

.leg-holder > ol {
  height: 100%;
}

.leg-button {
  width: 90%;
  height: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.leg-button:hover {
  width: 100%;
  background: #9C9CBC;
}

.leg-button-focused {
  width: 100%;
  background: #5300A6;
  color: white;
}

#right-landing-column > table > tbody > .ember-view > tr {
  width: 100%;
}

/****************/

/*****FOOTER*****/
.row-footer {
  height: 30%;
  width: 100%;
  border-color: #F4F4F4;
  border-style: solid;
  border-width: 2px;
}

.row-footer:hover {
  border-color: #5300A6;
}
/****************/
