<div class="row row-header">
  {{action-bar actionsArray=actionsArray outerController=this id=model.id idType="vacation" transitionDestroy="/" transitionUpdate="vacation"}}
</div>
<div class="row row-content">
  <div class="col-xs-2" id="left-landing-column">

  </div>
  <div class="col-xs-8">

  </div>
  <div class="col-xs-2" id="right-landing-column">
  </div>
</div>
