<div class="row row-header">
  {{action-bar actionsArray=actionsArray outercontroller=this}}
</div>
<div class="row row-content">
  <div class="col-xs-2 leg-holder" id="left-landing-column">
    {{#each focusModel.legs as |leg|}}
      {{partial "leg-container"}}
    {{/each}}
  </div>
  <div class="col-xs-8">

  </div>
  <div class="col-xs-2" id="right-landing-column">
  </div>
</div>
<div class="row row-footer">
  {{model-slider innerModel=model action="focusedModel" outerController=this idType="vacation"}}
</div>
