{{log "ember - app/templates/vacations/index.hbs"}}
<div class="row row-header">
  {{action-bar actionsArray=actionsArray outercontroller=this}}
</div>
<div class="row row-content">
  <div class="col-xs-2" id="left-landing-column">

  </div>
  <div class="col-xs-8">

  </div>
  <div class="col-xs-2" id="right-landing-column">
  </div>
</div>
<div class="row row-footer">
  {{model-slider model=model action="focusedModel"}}
</div>
