{{log "ember - app/templates/vacation.hbs"}}
{{outlet}}
<div class="row row-content">
  <div class="col-xs-2" id="left-landing-column">
    {{#each model.legs as |leg|}}
      {{leg.endingCity}}
    {{/each}}
  </div>
  <div class="col-xs-8">

  </div>
  <div class="col-xs-2" id="right-landing-column">
  </div>
</div>
{{outlet "legs"}}
